:root {
  --primary: #ca1551;
  --secondar: #fb4d3d;
  --asset-1: #03cea4;
  --asset-2: #345995;
  --asset-3: #eac435;
}

body {
  font-family: "Lobster", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 1rem;
  max-width: 1080px;
  margin: 0 auto;
}
.logo {
  border: #ca1551 solid 3px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0;
  font-size: 3rem;
}
.top-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 100;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
.show {
  height: 320px;
}
header {
  display: grid;
  place-content: space-between;
  grid-template-columns: 1fr;
  background-color: var(--primary);
    padding: 0 1rem
}
.color {
  width: 60px;
  height: 20px;
  display: inline-block;
  margin: 0 0.5rem;
}

.one {
  background-color: #ca1551;
}

.two {
  background-color: #fb4d3d;
}

.three {
  background-color: #03cea4;
}

.four {
  background-color: #345995;
}

.five {
  background-color: #eac435;
}
