:root {
  --primary: #810e34;
  --secondary: rgb(251, 77, 61, 0.2);
  --asset-1: #bafff1;
  --asset-2: #182d4e;
  --asset-3: #eac435;
  --bg-primary-transp: rgba(240, 246, 163, 0.2);
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 1.2rem;
  font-style: normal;
  max-width: 1080px;
  margin: 0 auto;
}
.logo {
  border: #eac435 solid 3px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
main {
  position: relative;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0;
  font-size: 3rem;
}
.top-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.dogImageApi {
  background-color: var(--asset-2);
  padding: 2rem 1rem;
  color: var(--asset-1);
  text-align: center;
}
.dogImageApi a {
  text-decoration: underline;
  color: var(--asset-1);
  font-weight: 400;
  font-size: 1.2rem;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem 0;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 100;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
nav a {
  text-decoration: none;
  color: var(--asset-1);
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: var(--primary);
}
nav a:hover,
.active {
  background-color: var(--asset-2);
  color: #fff;
  border-radius: 5px;
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}
.signup-btn {
  border: var(--asset-2) solid 2px;
  color: #fff;
  border-radius: 5px;
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}
footer form input {
  padding: 0.2rem 1rem;
}
.submit {
  padding: 0.3rem 1rem;
  background-color: var(--asset-1);
  border-radius: 2px;
  border: var(--asset-2) solid 1px;
  cursor: pointer;
}
.submit:active {
  transform: translateY(2px);
}
.show {
  height: 320px;
}
header {
  display: grid;
  place-content: space-between;
  grid-template-columns: 1fr;
  background-color: var(--primary);
  padding: 0 1rem;
  border-bottom: var(--asset-2) solid 5px;
}

.hero {
  border: var(--asset-3) solid 1px;
  border-top: none;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
.explore-hero {
  border: var(--asset-3) solid 1px;
  border-top: none;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  background-color: var(--asset-3);
}
.explore-container {
  padding: 1rem 2rem;
  display: grid;
  justify-content: space-around;
  height: auto;
  padding: 5rem;
}
.reg-container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 5rem;
}
.explore {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  transition: all 0.5s ease;
}
.ex-icon {
  font-size: 1.2rem;
}
.q-icon {
  font-size: 5rem;
}
.q-text {
  font-weight: 600;
  background-color: rgb(24, 45, 78, 0.5);
  display: grid;
  place-content: center;
  padding: 1rem;
  color: var(--asset-1);
  border-radius: 0 5px;
}
.facts {
  display: none;
  place-content: center;
  place-items: center;
  background-color: var(--asset-2);
  background-image: url("../images/hero.webp");
}
.quote {
  width: auto;
  text-align: left;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.ex-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  height: 400px;
  background-color: var(--asset-2);
  border-radius: 0 24px 0 24px;
  padding: 1.5rem 0.6rem;
  overflow: hidden;
  gap: 1rem;
  color: var(--asset-1);
}
.ex-card h3,
.ex-card h4,
.ex-card p {
  width: 100%;
  text-align: center;
}

.ex-weight {
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  margin: 0.5rem auto;
}
.ex-action {
  background-color: var(--asset-1);
  color: var(--asset-2);
  text-decoration: none;
  display: block;
  padding: 0.4rem 1rem;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.ex-action:hover {
  background-color: var(--primary);
  color: var(--asset-1);
}
.reg-container form {
  display: grid;
  grid-template-columns: auto;
  place-content: stretch;
  background-color: rgb(186, 255, 241, 0.6);
  padding: 1.2rem;
  width: 100%;
  font-weight: 600;
}
form label,
.form-btn {
  margin: 1rem 0 0 0;
  cursor: pointer;
  padding: 0.5rem !important;
}
.form-btn {
  border: var(--asset-2) solid 2px;
  background-color: var(--asset-2);
  color: var(--asset-3);
  padding: 0.8rem;
}
.reg-container form input {
  border: var(--secondary) solid 1px;
  border-radius: 2px;
  padding: 0.2rem;
  width: auto;
}
.color {
  width: 60px;
  height: 20px;
  display: inline-block;
  margin: 0 0.5rem;
}
.hero-action {
  background-color: var(--primary);
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  color: var(--asset-1);
  border: var(--asset-3) solid 1px;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 2rem;
}
.hero-action:hover {
  background-color: var(--asset-2);
  color: #fff;
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.hero-card {
  position: absolute;
  top: 45%;
  right: 2rem;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 1rem;
  justify-content: center;
  background-color: var(--bg-primary-transp);
  border-radius: 5px;
}
.explore-hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.image-card {
  overflow: hidden;
  position: relative;
}
.dog-name {
  text-align: center;
  display: block;
  text-transform: uppercase;
  bottom: 0;
  position: absolute;
  background-color: rgb(129, 14, 52, 0.5);
  padding: 0.5rem 1.5rem;
  font-family: "Times New Roman", Times, serif;
  color: var(--asset-1);
}
.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery {
  display: grid;
  grid-template-columns: auto;
  padding: 2rem;
  gap: 1rem;
  place-content: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--primary);
  color: var(--asset-1);
  gap: 2rem;
}
footer form h3 {
  text-align: center;
}
footer form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 0.2rem;
}
.form-contianer {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}
footer a {
  /* text-decoration:none; */
  color: var(--asset-1);
}
.one {
  background-color: #ca1551;
}

.two {
  background-color: #fb4d3d;
}

.three {
  background-color: #03cea4;
}

.four {
  background-color: #182d4e;
}

.five {
  background-color: #eac435;
}
