@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  header{
    display: flex;
  }
  header .top-div {
    justify-content: space-around;
  }
  .nav-btn{display: none}
  .nav-icons {
    display: none;
  }
  .top-div {
    justify-content: space-around;
  }
  nav {
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .brand:hover{background-color: transparent;}
  .top-div .brand-name{
    font-weight: 600;
    font-size: 1.8rem;
  }
  .top-div .brand-subtitle{
    font-size: .9rem;
    margin-left: 0;
  }
  
}

@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .w-container{
    flex-direction: row;
  }
  .w-card.fixed{flex:1}
  .w-card.fill{flex:2}
  .brand{
    width:240px;
  }
}

@media screen and (min-width: 1080px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
