@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  header{
    display: flex;
  }
  header .top-div {
    justify-content: space-around;
  }
  .top-div span {
    font-size: 2rem;
  }
  .nav-btn{display: none}
  .nav-icons {
    display: none;
  }
  .top-div {
    justify-content: space-around;
  }
  nav {
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .brand{
    border:none;
    display: block;
    background-color: transparent;
    width:140px;
  }
  .brand-name{
    font-weight: 600;
    font-size: 1.8rem;
  }
  .brand-subtitle{
    font-size: .8rem;
  }
  
}

@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1080px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
