:root {
  --primary: #000022;
  --secondary: #7e4602;
  --asset: #fbf5f3;
  --text-light: var(--asset);
  --text-dark: var(--primary);
  --text-secondary: var(--secondary);
  --bg-light: #fff;
  --bg-asset: var(--asset);
  --bg-primary: var(--primary);
  --bg-secondary: var(--secondary);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: small;
}

header .top-div {
  display: flex;
  justify-content: space-between;
}
header,
main,
footer {
  max-width: 1080px;
  margin: 0 auto;
}
.brand {
  border: none;
  display: block;
  background-color: transparent;
  width: 140px;
}
.brand-name {
  font-weight: 600;
  font-size: 1.8rem;
}
.brand-subtitle {
  font-size: 0.8rem;
}

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--bg-light);
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease-out;
  max-width: 360px;
}

nav a {
  margin: 0.5rem;
  text-decoration: none;
  display: block;
  color: var(--text-dark);
  font-weight: 600;
}
nav button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
nav button:hover {
  background-color: transparent;
  transform: scale(1.1);
}
/* Home page start here */

.hero {
  background: url("../images/hero.webp") center center fixed;
  height: 50vh;
  margin: 0;
  padding: 0;
  position: relative;
}
.hero-action {
  position: absolute;
  bottom: 20%;
  right: 10%;
  padding: 1rem;
  border: none;
}
.w-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  overflow:auto;
  height: auto;
}
.w-card{
  min-height: 200px;
  background-color: var(--bg-asset);
  padding: 0;
}
.w-card h3 {
  text-transform: capitalize;
  background-color: var(--bg-secondary);
  color: var(--text-light);
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: left;
}
.b-card{
  max-width: 340px;
}

/* Home page styling ends here */
figure,
figcaption {
  text-align: center;
}

.card {
  margin: 1rem 0;
}

nav a:hover {
  color: var(--text-secondary);
  transform: translateY(-2px);
}

.active {
  color: var(--text-secondary);
}

.nav-icons {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
}
.nav-icons.bars,
.nav-btn {
  font-size: 5rem;
  padding: 0;
  border: none;
  background-color: transparent;
}
.bars:hover,
.nav-btn:hover {
  background-color: transparent;
}
.nav-icons:hover {
  transform: scale(1.1);
}

.close {
  position: absolute;
  right: 1rem;
  top: 0;
  background-color: rgb(210, 19, 19);
  color: var(--text-light);
}

h1 {
  padding: 1rem;
}

section {
  padding: 0 1rem;
}

section h2 {
  text-align: center;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  background-color: var(--bg-primary);
  color: var(--text-light);
}

ul {
  margin: 2rem;
}

.navs {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
  padding: 1rem 1rem 0.3rem 1rem;
  border-bottom: rgb(0, 0, 34, 0.5) solid;
}

.navs span {
  background-color: var(--secondary);
  padding: 0.2rem 1rem;
  width: 100px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.navs span:hover {
  transform: scale(1.1);
}

main {
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
}
h1 {
  text-align: left;
}
.viewing {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin: 1rem auto;
}

.viewing button {
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}
.button-active {
  background-color: rgb(5, 92, 5);
  color: #fff;
  border: none;
}
button:hover {
  background-color: lightgreen;
  color: #000;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 320px;
  gap: 1rem;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin: 1rem auto;
  padding: 0.3rem;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.82);
  height: 240px;
}
section img {
  margin: 0 auto;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.82);
  margin: 1rem 0;
  height: auto;
  padding: 0.2rem 1rem;
  gap: 1rem;
}
.list img {
  display: none;
}

footer {
  text-align: center;
}
