:root {
  --primary: #000022;
  --secondary: #E28413;
  --asset: #FBF5F3;
  --text-light: var(--asset);
  --text-dark: var(--primary);
  --text-secondary: var(--secondary);
  --bg-light: #fff;
  --bg-asset: var(--asset);
  --bg-primary: var(--primary);
  --bg-secondary: var(--secondary);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: wrap;
}
body{
  font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}
main {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.viewing{
  display: flex;
  justify-content: center;
  width: 100%;
  gap:1rem;
}

.viewing button {
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}
.button-active {
  background-color: rgb(5, 92, 5);
  color: #fff;
  border: none;
}
button:hover {
  background-color: lightgreen;
  color: #000;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  min-width: 320px;
  gap:1rem;
}
section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin: 1rem auto;
  padding: .3rem;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.82);
  height: 240px;

}
section img{
  margin: 0 auto;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.82);
  margin: 1rem 0;
  height: auto;
  padding:.2rem 1rem;
  gap: 1rem;
}
.list img {
  display: none;
}

footer {
  text-align: center;
}
