#cards {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 0.2rem;
}
section {
  padding: 0.5rem;
  border: rgb(0, 0, 0, 0.5) solid 1px;
  max-width: 340px;
}
@media screen and (min-width: 720px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1080px) {
  #cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
